.block.callout {
    background-color: #ccc;
    padding: 0 0 24px;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.block.callout.info {
    border-left: 4px solid #0077cc;
    background-color: rgb(197, 255, 255);
}

.block.callout.warning {
    border-left: 4px solid #ff9900;
    background-color: #fff3e0;
}

.block.callout.error {
    border-left: 4px solid #cc0000;
    background-color: #ffe0e0;
}

.block.callout.info > p::before {
  content: url(../../icons/info.svg);
  width: 32px;
  height: 32px;
}

