<!DOCTYPE html>
<html>

<head>
  <title>{{properties.elements.title.value}}</title>
</head>

<body>
  <header></header>
  <main>
    <div>
      <div class="blog-card">
        <div>
          <div class="blog-card-body">
            <h3 class="blog-card-title">{{properties.elements.title.value}}</h3>
            <p class="blog-card-author">By {{properties.elements.author.value}}</p>
            <p class="blog-card-summary">{{properties.elements.summary.value}}</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>