<!DOCTYPE html>
<html>
  <head>
    <title>{{properties.elements.title.value}}</title>
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <div class="hero">
          <div>
            <div>
              <h1>{{properties.elements.title.value}}</h1>
            </div>
          </div>
        </div>
        <p><strong>Author:</strong> {{properties.elements.author.value}}</p>
        <div>
          <p>{{properties.elements.summary.value}}</p>
        </div>
        <div>
          {{{properties.elements.articleContent.value}}}
        </div>
    </main>
    <footer></footer>
  </body>
</html>