<h1>Upcoming Events</h1>
<p>Join us in 2026 for Edge Delivery Services training in cities worldwide.</p>

{{#data}}
<div class="event">
  <div>
    <div>
      <picture>
        <img src="{{image}}" alt="{{location}} image">
      </picture>
    </div>
  </div>
  <div>
    <div>
      <h3><a href="{{url}}">{{name}}</a></h3>
      <p><strong>{{date}}</strong></p>
      <p>{{location}}</p>
      <p>{{summary}}</p>
      <p><a href="{{url}}">View Details</a></p>
    </div>
  </div>
</div>
{{/data}}